c3-template-web-page/bower_components/
listing-1/bower_components/
listing-2/bower_components/
listing-3/bower_components/
listing-4/node_modules/
listing-4/public/bower_components/
listing-5/node_modules/
listing-5/public/bower_components/
listing-6/node_modules/
listing-6/public/bower_components/
listing-7/node_modules/
listing-7/public/bower_components/
temp/
